key_uat.json
application_default_credentials.json
.env
.venv/
key.json
__pycache__
temp.txt
convert_dict_to_json.py 
raw_dicts.py
dataframes/
processed_files/
uploads/
experiment/
outputs/
.vscode
api/dict/phrase_test.ipynb
*.crt
*.key
